{% macro bike_card(data={}) %}

{% from 'components/atl_button.html' import atl_button %}

{# ==========================================================
   LINK
========================================================== #}

{% set link = data.get("link", {}) %}
{% set url = link.get("url", "#") %}

{# ==========================================================
   IMAGE
========================================================== #}

{% set image = data.get("image", {}) %}

{% set image_src = image.get(
    "src",
    "https://placehold.co/600x600?text=ATL+Bikes"
) %}

{% set image_alt = image.get(
    "alt",
    "Bicicleta"
) %}

{# ==========================================================
   TEXT
========================================================== #}

{% set text = data.get("text", {}) %}

{% set brand = text.get(
    "brand",
    "Marca"
) %}

{% set name = text.get(
    "name",
    "Nombre de la bicicleta"
) %}

{# ==========================================================
   PRICE
========================================================== #}

{% set price = data.get("price", {}) %}

{% set show_old = price.get(
    "show_old",
    false
) %}

{% set old_price = price.get(
    "old",
    0
) %}

{% set current_price = price.get(
    "current",
    0
) %}

{# ==========================================================
   BUTTON
========================================================== #}

{% set button_content = data.get("button_content", {}) %}

{# ==========================================================
   STYLE
========================================================== #}

{% set style = data.get("style", {}) %}

{% set brand_color = style.get(
    "brand_color",
    "#6b6b6b"
) %}

{% set name_color = style.get(
    "name_color",
    "#1f1f1f"
) %}

{% set old_price_color = style.get(
    "old_price_color",
    "#969696"
) %}

{% set current_price_color = style.get(
    "current_price_color",
    "#005f73"
) %}

{% set shadow_color = style.get(
    "shadow_color",
    "rgba(0,0,0,.18)"
) %}

<article
    class="bike-card"
    style="--bike-card-shadow: {{ shadow_color }};">

    <article class="bike-card__container">

        <a 
        class="bike-card__image-container"
        href="{{ url }}">

            <img
                class="bike-card__image"
                src="{{ image_src }}"
                alt="{{ image_alt }}">

        </a>

        <a 
        class="bike-card__content"
        href="{{ url }}"
        >

            <p
                class="bike-card__brand"
                style="color: {{ brand_color }};">

                {{ brand }}

            </p>

            <h3
                class="bike-card__name"
                style="color: {{ name_color }};">

                {{ name }}

            </h3>

            <div class="bike-card__prices">

                {% if show_old %}

                    <span
                        class="bike-card__old-price"
                        style="color: {{ old_price_color }};">

                        {{ old_price | currency }}

                    </span>

                {% endif %}

                <span
                    class="bike-card__current-price"
                    style="color: {{ current_price_color }};">

                    {{ current_price | currency }}

                </span>

            </div>

            

        </a>
        <div class="bike-card__button-container">
            {{ atl_button( button_content ) }}
        </div>

    </article>

</article>

{% endmacro %}