<aside class="sidebar" id="sidebar">
    <button class="sidebar__close" id="closeSidebarBtn">
        X
    </button>
    <nav>
        <a href="#">
            <img src="{{url_for('static', path='img/icons/chimallidev.ico')}}"
            title="Chimallidev"
            alt="Logo de chimallidev">
        </a>
        <a href="#chimallidev">CHIMALLIDEV</a>
        <a href="#sobre_mi">SOBRE MÍ</a>
        <a href="#habilidades">HABILIDADES</a>
        <a href="#portafolio">PORTAFOLIO</a>
        <a href="#contacto">CONTACTO</a>
    </nav>
</aside>