{% macro carrusel(items = [], name="default") %}
<div class="carrusel" data-carrusel="{{name}}">
    {# Botón Izquierdo #}
    <button class="carrusel__btn carrusel__btn--left" aria-label="Anterior">
        &#9665;
    </button>

    {# Viewport #}
    <div class="carrusel__viewport">
        <div class="carrusel__track">
            {% for video in items %}
            <div class="carrusel__slide">
                <div class="carrusel__video-thumb video__thumb" data-video-id="{{(video | default({})).get("id", "___")}}">
                    <img src="{{(video | default({})).get("url", "___")}}" alt="slide {{loop.index + 1}}: {{(video | default({})).get("alt", "___")}}">
                    <div class="carrusel__video-play video__play">▶</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {#Botón Derecho #}
    <button class="carrusel__btn carrusel__btn--right" aria-label="Siguiente">
        &#9655;
    </button>
</div>
{% endmacro %}