.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 9;
}

.modal.active {
    display: flex;
}

.modal__video-content {
    pointer-events: auto;
}

.modal__video-content iframe {
    width: 90vw;
    height: 50vw;
    max-width: 1000px;
    max-height: 90vh;
    border: none;
    pointer-events: auto;
}