.slider-vertical{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    padding: 0 40px 40px 40px;
    gap: 10px;
    align-items: center;
}

.slider-vertical__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.slider-vertical__viewport {
    height: 100%;
    flex: 0 0 auto;
    aspect-ratio: 9/16;
    display: flex;
    overflow: hidden;
}

.slider-vertical__track {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    will-change: transform;

    transform: translateY(calc(var(--index, 1)* -100%));
    transition: transform var(--speed, .5s) ease;
}

.slider-vertical__track.is-resetting {
    transition: none;
}

.slider-vertical__item {
    height: 100%;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.slider-vertical__item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    object-fit: contain;
}

.slider-vertical__controls { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider-vertical__btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--secondary-color);
    font-size: 18px;
    cursor: pointer;
    border: 3px solid var(--main-color);
    box-shadow: inset 0 0 0 2px var(--secondary-color);
}

.slider-vertical__counter {
    --offset-x: -29px;
    transform: translateX(var(--offset-x));
    background: var(--secondary-color);
    color: var(--third-color);
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    border-radius: 5px;
    z-index: 3;
    align-self: center;
    margin: 0 auto;
}

.slider-vertical__current {
    background: var(--third-color);
    color: var(--secondary-color);
    overflow: hidden;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.slider-vertical__total {
    overflow: hidden;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.slider-vertical__current-number {
    display: inline-block;
}

.slider-vertical__current.is-down .slider-vertical__current-number {
    animation: slideDown var(--speed, .5s) ease;
}

.slider-vertical__current.is-up .slider-vertical__current-number {
    animation: slideUp var(--speed, .5s) ease;
}

@keyframes slideDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-100%); }
    51% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

@keyframes slideUp {
    0% { transform: translateY(0); }
    50% { transform: translateY(100%); }
    51% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}