.base__content {
    padding-top: 70px;
}

.base__content::selection {
    background: var(--main-color);
    color: var(--secondary-color);
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    color: var(--fourth-color);
}

.app-si__principal {
    margin: 50px 40px 40px 40px;
}

.app-si__principal-contenedor {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: 
    "imagenes descripcion";

}

.app-si__imgs-wrapper {
    grid-area: imagenes;
    position: sticky;
    top: 0;
    align-self: start;
    height: fit-content;
}
.app-si__article {
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--third-color);
}

.app-si__h1 {
    font-family: var(--font-title);
    font-size: min(7vw, 38px);
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
}

.app-si__h2 {
    font-family: var(--font-title);
    font-size: min(6vw, 34px);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 40px;
}

.app-si__titulo-animado {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    background-color: var(--third-color);
    padding: 5px 5px;
    
}

.app-si__titulo-animado span{
    display: inline-block;
    animation: blink 1s infinite;
}
.app-si__titulo-animado span:first-child {
    color: var(--secondary-color);
}

.app-si__titulo-animado span:last-child {
    color: var(--main-color);
}

.app-si__article p {
    line-height: 1.5;
}

.app-si__article p:first-of-type {
    margin-top: 10px;
}

.app-si__ver-mas {
    margin: 60px 40px 40px 40px;
}

.video__thumb:hover .video__play {
    opacity: .5;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }
    

    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .app-si__principal-contenedor {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto auto;
        gap: 40px;
        grid-template-areas: 
        "imagenes"
        "descripcion";
    }

    .app-si__imgs-wrapper {
        position: relative;
        top: auto;
    }

    .slider-vertical {
        height: auto;
    }
}