{% macro front_page(data={}) %}

{% from 'components/skew_button.html' import skew_button %}

{% set bg_color = data.get("bg_color", "#005f73") %}
{% set image = data.get("image", "/static/images/default/hero.webp") %}
{% set title = data.get("title", "ATL bikes") %}
{% set subtitle = data.get(
    "subtitle",
    "Inspirados en la fuerza y la fluidez del agua, ofrecemos bicicletas para cualquier terreno y aventura."
) %}
{% set title_color = data.get("title_color", "#ffffff") %}
{% set subtitle_color = data.get("subtitle_color", "#ffffff") %}
{% set button_content = data.get("button_content", {} ) %}

<section
    class="front-page"
    style="
        --front-page-bg: {{ bg_color }};
        --front-page-image: url('{{ image }}');
    "
>

    <div class="front-page__image"></div>

    <div class="front-page__content">

        <h2 
        class="front-page__title"
        style="
            --front-page-title-color: {{ title_color }};
        "
        >
            {{ title }}
        </h2>

        <p 
        class="front-page__subtitle"
        style="
            --front-page-sub-color: {{ subtitle_color }};
        "
        >
            {{ subtitle }}
        </p>

        {{ skew_button( button_content ) }}

    </div>

</section>

{% endmacro %}