{% extends '/proyectos/soluciones_inteligentes/base_soluciones_inteligentes.html' %}

{% from '/proyectos/soluciones_inteligentes/components/divider.html' import divider_item %}

{% block components_style %}
<link rel="stylesheet" href="{{url_for('static', path='css/proyectos/soluciones_inteligentes/soluciones_inteligentes_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='css/proyectos/soluciones_inteligentes/components/divider_item_style.css')}}">
{% endblock %}

{% block content %}
<section class="si__principal">
    {{divider_item("Soluciones Inteligentes")}}

    <section class="si__description">
        <div class="si__img-wrapper">
            <img src="" alt="">
        </div>
         <article class="si__article">
            <h1 class="si__h1">Soluciones inteligentes</h1>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </article>
    </section>
</section>
{% endblock %}