.slider {
    position: relative;
    max-height: 320px;
    width: 600px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 16px;
}

.slides {
    display: flex;
    transition: transform .6s ease-in-out;
}

.slide {
    min-width: 100%;
    cursor: pointer;
}

.slide img {
    width: 100%;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    background: oklch(0.5485 0.219959 6.516 / 45%);
    border: 2px solid var(--main-color);
    border-radius: 20%;
    cursor: pointer;
    transition: all ease;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
}

.arrow.left::before {
    transform: rotate(-135deg);
    left: 40%;
}

.arrow.right::before {
    transform: rotate(45deg);
    right: 40%;
}

.arrow:hover {
    background: oklch(0.6179 0.1046 199.77 / 45%);
    border: 2px solid var(--fourth-color);
}

.arrow:active {
    scale: .9;
}

.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 15%;
    background: var(--third-color);
    overflow: hidden;
    position: relative;
}

.dot::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 0%;
    background: var(--main-color);
}

.dot.active {
  background: var(--third-color);
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;    
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal.active {
    display: flex;
}

.modal img {
    max-width: none;
    user-select: none;
    cursor: grab;
    transform-origin: center;
    touch-action: none;
    -webkit-user-drag: none;
    transition: transform .1s ease-out;
}