<header class="nav_bar" id="navbar">
    <nav class="nav_bar__container" arial-label="Navegación principal">
        <a href="/portafolio/soluciones_inteligentes" class="navbar__logo">
            <img src="{{url_for('static', path='img/proyectos/soluciones_inteligentes/soluciones_inteligentes_logo.webp')}}"
             alt="Logo de soluciones inteligentes">
        </a>
        <ul class="nav_bar__opciones">
            <a href="#soluciones_inteligentes">Soluciones Inteligentes</a>
            <a href="#ver_mas">Ver más</a></nav>
        </ul>
        <button class="nav_bar__menu-btn" id="menuBtn">
            <span></span>
            <span></span>
            <span></span>
        </button>
</header>