<header class="nav_bar" id="navbar">
    <nav class="nav_bar__container" arial-label="Navegación principal">
        <a href="/portafolio/soluciones_inteligentes" class="nav_bar__logo">
            <img src="{{url_for('static', path='img/proyectos/soluciones_inteligentes/icons/soluciones_inteligentes.ico')}}"
             alt="Logo de soluciones inteligentes">
        </a>
        <ul class="nav_bar__opciones">
            <a href="#soluciones_inteligentes">Soluciones Inteligentes</a>
            <a href="#ver_mas">Ver más</a>
        </ul>
        <button 
        class="nav_bar__menu-btn" 
        id="menuBtn"
        aria-label="Abrir menú"
        aria-expanded="false"
        aria-controls="menu-principal"
        >
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>