{% macro slider_videos(videos) %}
<div class="slider" id="slider">
    <div class="slides" id="slides">
        {% if videos %}
            {% for video in videos %}
                <div class="si__video-thumb" id="videoTrigger">
                    <img src="{{(video | default({}).get("url", "..."))}}">
                    <div class="si__video-play">▶</div>
                </div>
            {% endfor %}     
        {% endif %}
    </div>
    <div class="arrow left" id="prev"></div>
    <div class="arrow right" id="next"></div>
    <div class="dots" id="dots"></div>

    <div class="modal modal--video" id="videoModal">
        <div class="modal__content">
            <iframe 
            id="modalVideo"
            src=""
            allow="autoplay; encrypted-media"
            allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
{% endmacro %}