{% macro slider_videos(videos) %}
<div class="slider">
    <div class="slides slider--videos">
        {% if videos %}
            {% for video in videos %}
                <div class="slide">
                    <div class="si__video-thumb videoTrigger" data-video-id="{{ video.id }}">
                        <img src="{{(video | default({})).get("url", "...")}}">
                    <div class="si__video-play">▶</div>
                    </div>
                </div>
            {% endfor %}     
        {% endif %}
    </div>
    <div class="arrow left"></div>
    <div class="arrow right"></div>
    <div class="dots"></div>

    <div class="modal modal--video" id="videoModal">
        <div class="modal__video-content">
            <iframe 
            id="modalVideo"
            src=""
            allow="autoplay; encrypted-media"
            allowfullscreen
            playsinline>
            </iframe>
        </div>
    </div>
</div>
{% endmacro %}