{% macro slider(images) %}
<div class="slider" >
    <div class="slides slider--images">
        {% if images %}
            {% for img in images %}
                <div class="slide">
                    <img src="{{(img | default({})).get("url", "...")}}">
                </div>
            {% endfor %}     
        {% endif %}
    </div>
    <div class="arrow left"></div>
    <div class="arrow right"></div>
    <div class="dots"></div>

    <div class="modal" id="modal">
        <div class="modal__content">
            <img id="modalImg">
        </div>
    </div>
</div>
{% endmacro %}