<a
    id="floating-button"
    class="floating-button"
    href="https://ko-fi.com/chimallidev"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="{{ button_label }}"
    data-icon-default="icon-empty-coffee"
    data-icon-active="icon-fill-coffee"
>
    <svg
        class="floating-button__icon floating-button__icon--default"
        aria-hidden="true"
    >
        <use href="#icon-empty-coffee"></use>
    </svg>

    <svg
        class="floating-button__icon floating-button__icon--active"
        aria-hidden="true"
    >
        <use href="#icon-fill-coffee"></use>
    </svg>
</a>