@font-face {
    font-family: 'Roboto';
    src: url("/static/fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("/static/fonts/Roboto-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("/static/fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url("/static/fonts/RobotoSlab-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url("/static/fonts/RobotoSlab-Medium.ttf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url("/static/fonts/RobotoSlab-Bold.ttf") format('truetype');
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-base: 'Roboto';
    --font-title: 'Roboto Slab';
    --font-universal-weight: 400;
    --font-universal-size: 18px;
    --main-color: oklch(0.5485 0.219959 6.516);
    --secondary-color: oklch(1 0 0);
    --third-color: oklch(0 0 0);
    --fourth-color: oklch(0.6179 0.1046 199.77);
}

html {
    font-family: var(--font-base), Arial, Helvetica, sans-serif;
    font-weight: var(--font-universal-weight);
    background-color: var(--secondary-color);
    color: var(--third-color);
    font-size: var(--font-universal-size);
    scroll-behavior: smooth;
}