{% extends '/proyectos/app_movil_soluciones_inteligentes/base_app_movil_soluciones_inteligentes.html' %}

{% block components_style %}
<link rel="stylesheet" href="{{url_for('static', path='css/proyectos/app_movil_soluciones_inteligentes/app_movil_soluciones_inteligentes_style.css')}}">
{% endblock %}

{% block content %}
<section class="app-si__principal">
    <div class="app-si__principal-contenedor">
        <div class="app-si__imgs-wrapper"></div>
        <article class="app-si__article">
            <header>
                <h1 class="app-si__h1">APLICACIÓN MÓVIL DE 
                    <span class="app-si__titulo-animado"> 
                        <span>SOLUCIONES</span> 
                        <span>INTELIGENTES</span>
                    </span></h1>
            </header>
            <p>Desarrollé la Aplicación Móvil de Soluciones Inteligentes como una extensión de un ecosistema digital enfocado en el bienestar integral. Mi objetivo principal fue facilitar el acceso a contenido confiable sobre fitness, alimentación y salud mental, permitiendo a los usuarios consultar información basada en evidencia desde cualquier lugar a través de una app rápida y accesible.</p>
            <p>Centralicé en la aplicación los artículos de la plataforma web Soluciones Inteligentes, dirigida a personas interesadas en adoptar o mantener un estilo de vida saludable. En su diseño, combiné divulgación científica y practicidad, ofreciendo contenido claro, optimizado y útil para mejorar hábitos diarios.</p>
            <p>Además del acceso a contenido, integré herramientas diseñadas para apoyar la actividad física, como cronómetro, temporizador, tabata timer y una calculadora de IMC. Estas funcionalidades convirtieron la aplicación en un recurso práctico para complementar entrenamientos, medir el rendimiento y monitorear aspectos básicos de la salud.</p>
            <p>Como parte del ecosistema digital, reforcé el alcance de Soluciones Inteligentes, una plataforma de divulgación científica que desarrollé desde 2022, consolidando una experiencia multiplataforma centrada en el usuario.</p>
            <p>Desarrollé la aplicación móvil utilizando Kotlin y Android Studio, tecnologías clave en el desarrollo moderno para Android. Esto me permitió crear una aplicación eficiente, escalable y optimizada, garantizando un rendimiento sólido y una experiencia de usuario fluida.</p>
            <p>En conjunto, esta aplicación representa una solución integral en la que combiné contenido de valor, herramientas interactivas y desarrollo tecnológico moderno, con el objetivo de mejorar la experiencia del usuario y promover hábitos saludables de forma accesible, práctica y efectiva.</p>
        </article>
    </div>
</section>
{% endblock %}

{% block components_scripts %}
{% endblock %}