.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    background: var(--fourth-color-dark);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    transition: transform 0.3s ease;
}

.nav_bar__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 16x;
}

.navbar__logo {
    grid-column: 2;
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--font-title);
    font-size: min(6vw, 22px);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    gap: 10px;
}

.navbar__logo img {
    display: block;
    height: 55px;
}

.navbar button {
    grid-column: 3;
    justify-self: end;
    margin-right: 15px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
    }
}

.navbar.hidden-scroll {
    transform: translateY(-100%);
}

.menu-open .navbar {
    transform: translateY(-100%);
    transition-delay: .25s;
}

body:not(.menu-open) .navbar {
    transition-delay: 0.3s;
}

.navbar__menu-btn {
    all: unset;
    cursor: pointer;
}

.navbar__menu-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background: var(--secondary-color);
    margin: 5px 0;
    transition: 0.25s ease;
}

.menu-open .navbar__menu-btn span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-open .navbar__menu-btn span:nth-child(2) {
    opacity: 0;
}

.menu-open .navbar__menu-btn span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

body:not(.menu-open) .navbar__menu-btn span {
    transition-delay: 0.5s;
}