.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skill__title {
    font-size: 16px;
    font-family: var(--font-title);
}

.skill img {
    height: 80px;
    width: 80px;
    object-fit: contain;
}